[submodule ".janus/vim-powerline"]
	path = .janus/vim-powerline
	url = git@github.com:Lokaltog/vim-powerline.git
[submodule ".janus/badwolf"]
	path = .janus/badwolf
	url = git@github.com:sjl/badwolf.git
